{$DOMAIN:localhost} {
	@msc_id path_regexp /(?i)(?:msc)?(\d+)

	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}

    log
	redir / {$BASE_URL}
	redir @msc_id {$BASE_URL}{$BASE_PATH}/{re.1}
	error 404
}
